<section class="main-collection-banner d-flex flex-column text-white pt-3 pt-md-4 pb-4 pb-md-5 position-relative">
  {% if section.settings.show_collection_image and collection.image %}
    <div class="position-absolute top-0 start-0 end-0 bottom-0">
      {{ collection.image | img_tag: '', 'w-100 h-100 object-fit-cover', '1920x' }}
    </div>
  {% endif %}
  <div class="position-absolute top-0 start-0 end-0 bottom-0" style="background: linear-gradient(0deg, rgba(1, 1, 1, 0.20) 0%, rgba(1, 1, 1, 0.20) 100%);"></div>
  <div class="container-fluid position-relative">
    <div class="mb-3">
      {% render 'breadcrumbs' %}
    </div>
  </div>
  <div class="container position-relative my-auto mb-md-0">
    <div class="text-center text-md-start">
      <h1 class="fw-bold">{{ collection.title }}</h1>
      {%- if section.settings.show_collection_description -%}
        <div class="h6 fw-medium m-auto">{{ collection.description }}</div>
      {%- endif -%}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "main-collection-banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": true,
        "label": "Show collection description"
      }, {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": true,
        "label": "Show collection image"
      }
    ]
  }
{% endschema %}