<section class="py-4" style="background: #F9F9F9;">
  <div class="container pt-3 pb-2">
    <div class="text-center">
      <h2 class="h1 fw-bold text-capitalize">The perfect Match</h2>
      <p>This will come in handy</p>
    </div>
    <div class="recommend-products__slider">
      {% render "product-card" %}
    </div>
  </div>
</section>